<h1>Listing customers</h1>

<table class="table table-striped table-hover">
<thead>
  <tr>
    <th>Name</th>
    <th colspan="3"> Actions</th>
  </tr>
</thead>
<tbody>
<% @customers.each do |customer| %>
  <tr>
    <td><%= customer.name %></td>
    <td><%= link_to 'Show', :controller => administration_customers_path, :action => 'show', :id => customer.id %></td>
    <td><%= link_to 'Edit', :controller => administration_customers_path, :action => 'edit', :id => customer.id %></td>
    <td><%= link_to 'Destroy',  
      { :controller => administration_customers_path, :action => 'destroy', :id => customer.id },
      { :confirm => 'Are you sure?', :method => :delete, :remote => true} %></td>
  </tr>
<% end %>
</tbody>
</table>

<br />
<%= link_to 'New Customer', new_administration_customer_path, :class =>'btn' %>
