<h1>Listing bodies</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @bodies.each do |body| %>
  <tr>
    <td><%= body.name %></td>
    <td><%= link_to 'Show', body %></td>
    <td><%= link_to 'Edit', edit_body_path(body) %></td>
    <td><%= link_to 'Destroy', body, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Body', new_body_path %>
