<h1>Listing bodies</h1>

<table class="table table-striped table-hover">
<thead>
  <tr>
    <th>Name</th>
    <th colspan="3"></th>
  </tr>
</thead>
<tbody>
<% @bodies.each do |body| %>
  <tr>
    <td><%= body.name %></td>
    <td><%= link_to 'Show', administration_body_path(body) %></td>
    <td><%= link_to 'Edit', edit_administration_body_path(body) %></td>
    <td><%= link_to 'Destroy', administration_body_path(body), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</tbody>
</table>

<br />

<%= link_to 'New Body', new_administration_body_path, :class =>'btn' %>
