<h1>User listing</h1>
<p id="notice"><%= notice %></p>
<table class="table table-striped table-hover">
<thead>
  <tr>
    <th>Email</th>
    <th>Last login</th>
    <th>Login IP</th>
    <th colspan="2">Actions</th>
  </tr>
</thead>
<tbody>
<% @users.each do |user| %>
  <tr>
    <td><%= user.email %></td>
    <td><%= user.current_sign_in_at %></td>
    <td><%= user.current_sign_in_ip %></td>
    <td><%= link_to 'Edit', edit_administration_user_path(user) %></td>
    <td><%= link_to 'Destroy', administration_user_path(user), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</tbody>
</table>
<br/>
<%= link_to 'New User', new_administration_user_path, :class =>'btn' %>