<section id="main" class="round">
<h1>Список услуг</h1>

<table>
  <tr>
    <th>Наименование</th>
    <th>Описание</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @services.each do |service| %>
  <tr>
    <td><%= service.name %></td>
    <td><%= service.description %></td>
    <td><%= link_to 'Show', administration_service_path(service) %></td>
    <td><%= link_to 'Edit', edit_administration_service_path(service) %></td>
    <td><%= link_to 'Destroy', administration_service_path(service), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Services', new_administration_service_path %>
</section>