<p id="notice"><%= notice %></p>


  <b>Наименование:</b>
  <%= @service.name %><br>

  <b>Описание:</b>
  <%= @service.description %><br>



<%= link_to 'Edit', edit_administration_service_path(@service) %> |
<%= link_to 'Back', administration_services_path %>