<section id="main" class="round">
<p id="notice"><%= notice %></p>


  <b>Наименование:</b>
  <%= @service.name %>



  <b>Описание:</b>
  <%= @service.description %>



<%= link_to 'Edit', edit_administration_service_path(@service) %> |
<%= link_to 'Back', administration_services_path %>
</section>