<h1>Listing models</h1>

<table class="table table-striped table-hover">
<thead>
  <tr>
    <th>Name</th>
    <th colspan="3"></th>
  </tr>
</thead>
<tbody>
<%= hidden_field_tag 'brand_id', @brand_id %>
<% @models.each do |model| %>
  <tr>
    <td><%= model.name %></td>
    <td><%= link_to 'Show', administration_model_path(model) %></td>
    <td><%= link_to 'Edit', edit_administration_model_path(model) %></td>
    <td><%= link_to 'Destroy', administration_model_path(model), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</tbody>
</table>
<%= link_to 'New Model', new_administration_model_path(:brand_id => @brand_id), :class =>'btn' %><br><br>