<h1>Listing projects</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Finish Date</th>
    <th>Rating</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @projects.each do |project| %>
  <tr>
    <td><%= project.name %></td>
    <td><%= project.description %></td>
    <td><%= project.finish_date %></td>
    <td><%= project.rating %></td>
    <td><%= link_to 'Show', :controller => administration_projects_path, :action => 'show', :id => project.id %></td>
    <td><%= link_to 'Edit', :controller => administration_projects_path, :action => 'edit', :id => project.id %></td>
    <td><%= link_to 'Destroy',  
      { :controller => administration_projects_path, :action => 'destroy', :id => project.id },
      { :confirm => 'Are you sure?', :method => :delete, :remote => true} %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Project', :controller => administration_projects_path, :action => 'new' %>