<p id="notice"><%= notice %></p>
<p>
  <b>Name</b>
  <%= @project.name %>
</p>
<p>  
  <b>Description</b>
  <%= @project.description %><br>
</p>
<p>
  <b>Finish Date</b>
  <%= @project.finish_date %>
</p>
<p>
  <b>Rating</b>
  <%= @project.rating %>
</p>
<p>
  <b>Vehicles</b>
  <% @project.vehicles.each do |vehicle|%>
    <%=vehicle.model.brand.name%>,<%=vehicle.model.name%>,<%=vehicle.body.name%>,<%=vehicle.year%><br>
  <%end%>
</p>
<p>
  <b>Services</b>
  <% @project.services.each do |service|%>
  <%= link_to service.name, :controller => administration_services_path, :action => 'show', :id => service.id %>,
  <%end%>
</p>
<p>
  <b>Photos</b></br>
  <% @project.project_photos.each do |photo|%> 
    <%= image_tag photo.image.thumb('200x150#').url if photo.image %></br>
  <%end%>
</p>

<%= link_to 'Edit', :controller => administration_projects_path, :action => 'edit', :id => @project.id %> |
<%= link_to 'Back', administration_projects_path %>