<p id="notice"><%= notice %></p>
<p>
  <b>Name</b>
  <%= @project.name %>
</p>
<p>  
  <b>Description</b>
  <%= @project.description %><br>
</p>
<p>
  <b>Finish Date</b>
  <%= @project.finish_date %>
</p>
<p>
  <b>Rating</b>
  <%= @project.rating %>
</p>
<p>
<p>
  <b>Services</b>
  <% @project.services.each do |service|%>
  <%= link_to service.name, :controller => administration_services_path, :action => 'show', :id => service.id %>,
  <%end%>
</p>
<b>Vehicles</b><br>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
          <th>Brand</th>
          <th>Model</th>
          <th>Body</th>
          <th>Year</th>
      </tr>
    </thead>
    <tbody>
      <% @project.vehicles.each do |vehicle|%>  
      <tr>
        <td><%=vehicle.model.brand.name%></td>
        <td><%=vehicle.model.name%></td>
        <td><%=vehicle.body.name%></td>
        <td><%=vehicle.year%></td>
      </tr>
      <%end%>
    </tbody>
  </table>
</p>

<b>Photos</b></br>
<ul class="thumbnails">   
  <% @project.project_photos.each do |photo|%>
    <% if(photo.default) %>
        <li class="thumbnail" style="background-color: #08C">
           <%= image_tag photo.image.thumb('200x150#').url if photo.image %>
                 
        </li>
    <%else%>
      <li class="thumbnail">
          <%= image_tag photo.image.thumb('200x150#').url if photo.image %>
        
      </li>
    <%end%>
  <%end%>
</ul>


<%= link_to 'Edit', :controller => administration_projects_path, :action => 'edit', :id => @project.id %> |
<%= link_to 'Back', administration_projects_path %>