<% content_for :stylesheets do %>
<%= stylesheet_link_tag 'smoothDivScroll', :media => 'screen' %>
<%end%>
<% content_for :javascripts do %>
<%= javascript_include_tag 'SmoothDivScroll/jquery.ui.widget' %>
<%= javascript_include_tag 'SmoothDivScroll/jquery.smoothDivScroll-1.0-min' %>
<%end%>
<section id="slidebar" class="round">
<div id="makeMeScrollable">
		<div class="scrollingHotSpotLeft"></div>
		<div class="scrollingHotSpotRight"></div>
		<div class="scrollWrapper">
			<div class="scrollableArea">        
			  <%= render :partial => '/projects/index', :object => @projects %>		  
			</div>
		</div>
	</div>
</section>
<section id="main" class="round">
<div id="contacts">
  <div id="map">
    <iframe width="430" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src= "https://maps.google.com/?ie=UTF8&amp;ll=53.331645,-6.250513&amp;spn=0.00275,0.004474&amp;t=h&amp;z=18&amp;output=embed">
    </iframe>
    <br/>
  </div>
  <p>Связаться с нами можно через группу В контакте: vk.com/quattro_lab или по 
тел. +7(927)670-24-94</p>
</div>
<div id="actionreg">
  <h1>Регистрация на акцию</h1>  
  <%= render :partial => '/action_registrations/new', :object => @action_registration %>
</div>
</section>
