<h1>Listing projects</h1>

<table>
  <tr>
    <th>Description</th>
    <th>Budget</th>
    <th>Startdate</th>
    <th>Finishdate</th>
    <th>Vehicle</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @projects.each do |project| %>
  <tr>
    <td><%= project.description %></td>
    <td><%= project.budget %></td>
    <td><%= project.startDate %></td>
    <td><%= project.finishDate %></td>
    <td><%= project.vehicle_id %></td>
    <td><%= link_to 'Show', project %></td>
    <td><%= link_to 'Edit', edit_project_path(project) %></td>
    <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Project', new_project_path %>
