<% content_for :stylesheets do %>
  <%= stylesheet_link_tag 'action_registrations' %>
<% end %>
<% content_for :javascripts do %>
  <%= javascript_include_tag 'action_registrations' %>
<% end %>
<%= form_tag('create') do %>

  <div class="field">
    <div id="brands" class="wrapper-dropdown-3" tabindex="1">      
      <span>Brand</span>      
      <ul class="dropdown">
        <% @brands = Brand.all %>
        <% @brands.each do |brand| %>
          <li value=<%= brand.id %>><a href="#"><i class="icon-large"></i><%= brand.name %></a></li>          
        <% end %>
      </ul>
    </div>
  </div>
  <div id="modelsPlaceHolder" class="field">
    <div id="models" class="wrapper-dropdown-3" tabindex="1">      
      <span>Models</span>      
      <ul class="dropdown">
      </ul>
    </div>
  </div>
  <div id="bodiesPlaceHolder" class="field">
    <div id="bodies" class="wrapper-dropdown-3" tabindex="1">      
      <span>Bodies</span>      
      <ul class="dropdown">
      </ul>
    </div>
  </div>
  <div class="field">
    <%= label_tag 'email', 'EMail' %>
    <%= email_field_tag 'email'%>
  </div>
  <div class="field">
    <%= label_tag 'phone', 'Phone' %>
    <%= telephone_field_tag 'phone' %>
  </div>
  <%= submit_tag "Register!" %>
<% end %>
