<% content_for :stylesheets do %>
  <%= stylesheet_link_tag 'action_registrations' %>
<% end %>
<% content_for :javascripts do %>
  <%= javascript_include_tag 'action_registrations' %>
<% end %>
<%= form_tag('create') do %>

  <div class="field">
    <div id="dd" class="wrapper-dropdown-3" tabindex="1">      
      <span>Brand</span>      
      <ul class="dropdown">
        <% @brands = Brand.all %>
        <% @brands.each do |brand| %>
          <li value=<%= brand.id %>><a href="#"><i class="icon-large"></i><%= brand.name %></a></li>          
        <% end %>
      </ul>
    </div>
  </div>
  <div class="field">
    <%= hidden_field_tag 'model_id'%>
  </div>
  <div class="field">
    <%= hidden_field_tag 'body_id'%>
  </div>
<% end %>
