<%= form_for(@action_registration) do |f| %>
  <% if @action_registration.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@action_registration.errors.count, "error") %> prohibited this action_registration from being saved:</h2>

      <ul>
      <% @action_registration.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :customer_id %><br />
    <%= f.number_field :customer_id %>
  </div>
  <div class="field">
    <%= f.label :vehicle_id %><br />
    <%= f.number_field :vehicle_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
