<p id="notice"><%= notice %></p>

<p>
  <b>Customer:</b>
  <%= @action_registration.customer_id %>
</p>

<p>
  <b>Vehicle:</b>
  <%= @action_registration.vehicle_id %>
</p>


<%= link_to 'Edit', edit_action_registration_path(@action_registration) %> |
<%= link_to 'Back', action_registrations_path %>
