<% content_for :stylesheets do %>
  <%= stylesheet_link_tag 'administration/action_registrations' %>
<% end %>
<% content_for :javascripts do %>
  <%= javascript_include_tag 'administration/action_registrations' %>
<% end %>
<%= form_tag('/administration/action_registrations') do %>

  <% if @action_registration.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@action_registration.errors.count, "error") %> prohibited this action_registration from being saved:</h2>
      <ul>
      <% @action_registration.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
 <div class="field">
    <%= hidden_field_tag 'brand_id', @brand.nil? ? nil: @brand.id %>
    <div id="brands" class="btn-group">
      <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
        <span id="brands_label"><%= @brand.nil? ? 'Brands' : @brand.name %></span>
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <% @brands = Brand.all %>
        <% @brands.each do |brand| %>
          <li value=<%= brand.id %>><a href="#"><%= brand.name %></a></li>          
        <% end %>
      </ul>
    </div>
  </div>  
  
  <div class="field">
    <%= hidden_field_tag 'model_id', @model.nil? ? nil: @model.id  %>
    <% if(!@brand) %>
      <div id="modelsPlaceHolder" class="field">
      </div>
    <% else %>
      <div id="models" class="wrapper-dropdown-3" tabindex="1">      
        <span><%= @model.nil? ? 'Models' : @model.name %></span>
        <ul class="dropdown">
          <% @brand.models.each do |model| %>
            <li value=<%= model.id %>><a href="#"><i class="icon-large"></i><%= model.name %></a></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
  
  <div class="field">
    <%= hidden_field_tag 'body_id', @body.nil? ? nil: @body.id%>
    <% if(!@model) %>
      <div id="bodiesPlaceHolder" class="field">
      </div>
    <% else %>
      <div id="bodies" class="wrapper-dropdown-3" tabindex="1">      
        <span><%= @body.nil? ? 'Bodies' : @body.name %></span>
        <ul class="dropdown">
          <% @bodies = Body.all %>
          <% @bodies.each do |body| %>
            <li value=<%= body.id %>><a href="#"><i class="icon-large"></i><%= body.name %></a></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>  
  
  <div class="field">
    <%= number_field_tag 'year', @year.nil? ? nil: @year, :in => 1980...2014, :class => 'textBox', :title => 'Year' %>
  </div>
  <div class="field">
    <%= email_field_tag 'email', @email.nil? ? nil: @email.value, :class => 'textBox', :title => 'EMail' %>
  </div>
  <div class="field">
    <%= telephone_field_tag 'phone', @phone.nil? ? nil: @phone.value, :class => 'textBox', :title => 'Phone' %>
  </div>
  <%= submit_tag 'Register', :class =>'btn'%>
<% end %>
<div id="Templates">
  <div id="modelsListTemplate"  class="btn-group">      
    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
        <span id="models_label">Models</span>
        <span class="caret"></span>
    </a> 
    <ul class="dropdown-menu">
    </ul>
  </div>
  <div id="bodiesListTemplate"  class="btn-group">      
    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
        <span id="bodies_label">Bodies</span>
        <span class="caret"></span>
    </a>  
    <ul class="dropdown-menu">
    </ul>
  </div>
  <li id="listItemTemplate"><a href="#"></a></li>
</div>
