<h1>Listing action_registrations</h1>

<table>
  <tr>
    <th>Customer</th>
    <th>Vehicle</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @action_registrations.each do |action_registration| %>
  <tr>
    <td><%= action_registration.customer_id %></td>
    <td><%= action_registration.vehicle_id %></td>
    <td><%= link_to 'Show', :controller => administration_action_registrations_path, :action => 'show', :id => action_registration.id  %></td>
    <td><%= link_to 'Edit', :controller => administration_action_registrations_path, :action => 'edit', :id => action_registration.id %></td>
    <td><%= link_to 'Destroy', 
      { :controller => administration_action_registrations_path, :action => 'destroy', :id => action_registration.id },
      { :confirm => 'Are you sure?', :method => :delete, :remote => true} %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New action registration', :controller => administration_action_registrations_path, :action => 'new' %>
