<h1>New action_registration</h1>

<% content_for :stylesheets do %>
  <%= stylesheet_link_tag 'administration/action_registrations' %>
<% end %>
<% content_for :javascripts do %>
  <%= javascript_include_tag 'administration/action_registrations' %>
<% end %>
<%= form_tag('/administration/action_registrations' , :class => 'form-horizontal') do %>

  <% if @action_registration.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@action_registration.errors.count, "error") %> prohibited this action_registration from being saved:</h2>
      <ul>
      <% @action_registration.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= hidden_field_tag 'brand_id', @brand.nil? ? nil: @brand.id %>
    <div id="brands" class="btn-group">
      <a class="btn dropdown-toggle custom-button" data-toggle="dropdown">
        <span id="brands_label"><%= @brand.nil? ? 'Brands' : @brand.name %></span>
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <% @brands = Brand.all %>
        <% @brands.each do |brand| %>
          <li value=<%= brand.id %>><a><%= brand.name %></a></li>          
        <% end %>
      </ul>
    </div>
  </div>  
  <div class="control-group">   
    <%= hidden_field_tag 'model_id', @model.nil? ? nil: @model.id  %>
    <% if(!@brand) %>
      <div id="modelsPlaceHolder">
      </div>  
    <% else %>
    <div id="modelsPlaceHolder">
      <div id="models" class="btn-group">
        <a class="btn dropdown-toggle custom-button" data-toggle="dropdown">      
          <span id="models_label"><%= @model.nil? ? 'Models' : @model.name %></span>
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <% @brand.models.each do |model| %>
            <li value=<%= model.id %>><a><%= model.name %></a></li>
          <% end %>
        </ul>
      </div>
    </div>  
    <% end %>   
  </div>
  <div class="control-group">
    <%= hidden_field_tag 'body_id', @body.nil? ? nil: @body.id%>
    <% if(!@model) %>
      <div id="bodiesPlaceHolder">
      </div>
    <% else %>
    <div id="bodiesPlaceHolder">
      <div id="bodies" class="btn-group">
        <a class="btn dropdown-toggle custom-button" data-toggle="dropdown">       
        <span id="bodies_label"><%= @body.nil? ? 'Bodies' : @body.name %></span>
        <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">        
          <% @bodies = Body.all %>
          <% @bodies.each do |body| %>
            <li value=<%= body.id %>><a><%= body.name %></a></li>
          <% end %>
        </ul>
      </div>
    </div>
    <% end %>
  </div>
 
  <div class="control-group">
    <%= number_field_tag 'year', @year.nil? ? nil: @year, :in => 1980...2014, :class => 'textBox', :title => 'Year', :placeholder=>"Year" %>
  </div>
  <div class="control-group">  
    <%= text_field_tag 'name', @name.nil? ? nil: @name, :class => 'textBox', :title => 'Name', :placeholder=>"Name"  %>
  </div>
  <div class="control-group">  
    <%= email_field_tag 'email', @email.nil? ? nil: @email.value, :class => 'textBox', :title => 'EMail', :placeholder=>"Email"  %>
  </div>
  <div class="control-group">
    <%= telephone_field_tag 'phone', @phone.nil? ? nil: @phone.value, :class => 'textBox', :title => 'Phone', :placeholder=>"Phone" %>
  </div>
   
  <div class="control-group">
  <%= submit_tag 'Create', :class =>'btn'%>
  </div>
<% end %>
<div id="Templates">
  <div id="modelsListTemplate" class="btn-group">      
    <a class="btn dropdown-toggle custom-button" data-toggle="dropdown">
        <span id="models_label">Models</span>
        <span class="caret"></span>
    </a> 
    <ul class="dropdown-menu">
    </ul>
  </div>
  <div id="bodiesListTemplate" class="btn-group">      
    <a class="btn dropdown-toggle custom-button" data-toggle="dropdown">
        <span id="bodies_label">Bodies</span>
        <span class="caret"></span>
    </a>  
    <ul class="dropdown-menu">
    </ul>
  </div>
  <li id="listItemTemplate"><a></a></li>
</div>


<%= link_to 'Back', administration_action_registrations_path %>
