<p id="notice"><%= notice %></p>

<p>
  <b>Customer:</b>
  <%= @action_registration.customer_id %>
</p>

<p>
  <b>Vehicle:</b>
  <%= @action_registration.vehicle_id %>
</p>

<%= link_to 'Edit', :controller => administration_action_registrations_path, :action => 'edit', :id => @action_registration.id %> |
<%= link_to 'Back', administration_action_registrations_path %>
