<%= form_for(@project_photo) do |f| %>
  <% if @project_photo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project_photo.errors.count, "error") %> prohibited this project_photo from being saved:</h2>

      <ul>
      <% @project_photo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :default %><br />
    <%= f.check_box :default %>
  </div>  
  <div class="field">
    <%= f.hidden_field :retained_image %>
    <%= f.label :image %><br />
    <%= f.check_box :remove_image %>
    <%= f.file_field :image %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
