<p id="notice"><%= notice %></p>
<h1>Company</h1>
<p>
  <b>Description:</b>
  <%= @company.description %>
</p>
<%= render :partial => '/administration/contacts/index_read_only', object: @company %>
<%= link_to 'Edit', :controller => administration_companies_path, :action => 'edit', :id => @company.id %> |
<%= link_to 'Back', :controller => administration_companies_path, :action => 'show', :id => @company.id %>
