<header>
  <%= image_tag("logo.png", :alt => "Sample App", :class => "round") %>
  <nav class="round">
    <ul>
      <li><%= link_to "Главная", root_path %></li>
      <li><%= link_to "Проекты", projects_path %></li>
      <li><%= link_to "Услуги", services_path %></li>
      <li><%= link_to "О компании", about_path %></li>
      <li><%= link_to "Контакты", contact_path %></li>
    </ul>
  </nav>
</header>