<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= csrf_meta_tag %>
  <%= stylesheet_link_tag 'administration', :media => 'screen' %>
  <%= yield :stylesheets %>  
  <%= javascript_include_tag 'jquery-1.8.3.min.js' %>
  <%= javascript_include_tag 'administration' %>
  <%= yield :javascripts %>
</head>
 <body>
 <div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
      
      <ul class="nav nav-tabs nav-stacked">
      <li class="nav-header">JAdminKo menu </li>
          <li <%= 'class=active' if @current_controller =='companies'%>>
            <%= link_to "Company", :controller => administration_companies_path, :action => 'show', :id => '1' %>
          </li>
          <li <%= 'class=active' if @current_controller =='projects'%>>
            <%= link_to "Projects", :controller =>  administration_projects_path %>
          </li>
          <li <%= 'class=active' if @current_controller =='action_registrations'%>>
            <%= link_to "Action Registrations", :controller =>  administration_action_registrations_path %>
          </li>
          <li <%= 'class=active' if @current_controller =='customers'%>>
            <%= link_to "Customers", :controller =>  administration_customers_path %>
          </li>
          <li <%= 'class=active' if @current_controller =='contacts'%>>
            <%= link_to "Contacts", :controller =>  administration_contacts_path %>
          </li>
          <li <%= 'class=active' if @current_controller =='brands'%>>
            <%= link_to "Brands", :controller =>  administration_brands_path %>
          </li>
          <li <%= 'class=active' if @current_controller =='bodies'%>>
            <%= link_to "Bodies", :controller =>  administration_bodies_path %>
          </li>
          <li <%= 'class=active' if @current_controller =='services'%>>
            <%= link_to "Services", :controller =>  administration_services_path %>
          </li><li class="nav-header">Admin settings</li>
          <li>
          <%= link_to 'Users', administration_users_path %>
          </li>
          <li>
          <%= link_to 'Logout', destroy_user_session_path %>
          </li>
    </div>
    
    <div class="span10 well">

      <%= yield %> 
    </div>
  </div>
</div>
<%= debug(params) if Rails.env.development? %>
  </body>
</html>
